.header_wynwood {
    display: flex;
    flex-direction: column;
    align-items: center;


    h2 {
        text-align: center;
        font-size:10px;
        padding: 2px;
        font-weight: 600;
    }
}

.img_elipse {
    position: absolute;
    z-index: -1;

height:60px;
    width: 100%;
}

.img_logo {
    width: 70px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.574));

}

.box_icon {
    background-color: rgba(0, 0, 0, 0.787);
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

    a,
    div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

a img,
.compartir_img {
    height: 20px;
    width: 20px;


}
 
.whatsapp3d {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 2;

    img {
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.786));
        width: 70px;
        height: 70px;
    }

}
@media  (min-width: 1600px) {
    .img_elipse {
    height:180px;
     
    }
    .header_wynwood {
        h2 {
            font-size: 40px;
            padding: 10px;
        }
    }
    .box_icon {
        margin: 10px;
        height: 50px;
        width: 220px;
    }
    .img_logo {
        width: 200px;


    }
    .whatsapp3d {
       
        img {
            
            width: 100px;
            height: 100px;
        }
    
    }
}
@media (min-width: 1201px) and (max-width: 1599px) {
      .whatsapp3d {
       
        img {
            
            width: 90px;
            height: 90px;
        }
    
    }
    .img_elipse {
    height:130px;
     
    }
    .header_wynwood {
        h2 {
            font-size: 25px;
            padding: 5px;
        }
    }
    .box_icon {
        margin: 10px;
        height: 50px;
        width: 220px;
    }
    .img_logo {
        width: 160px;


    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .img_elipse {
    height:130px;
     
    }
    .header_wynwood {
        h2 {
            font-size: 20px;
            padding: 10px;
        }
    }
    .box_icon {
        margin: 10px;
        height: 50px;
        width: 220px;
    }
    .img_logo {
        width: 130px;


    }
}

@media (min-width: 400px) and (max-width: 800px) {
    .header_wynwood {

        h2 {
            font-size: 10px;
        }
    }

    .box_icon {
        margin: 5px;
        height: 40px;
        width: 180px;

        a,
        div {
            height: 100%;
            width: 100%;

        }
    }

    .img_logo {
        width: 100px; 


    }
}

/* @media (max-width:500px) {
    .header_wynwood {

       h2{
        font-size: 10px;
       }
    }
} */


/* @media (min-width: 1600px) {
}
@media (min-width: 1200px) and (min-width: 1599px) { 
}

@media (min-width: 900px) and (min-width: 1199px) {
}

@media (min-width: 600px)  (max-width: 899px) {
 
}
*/





/* @media (min-width: 1600px) {
}
@media (min-width: 1200px) and (min-width: 1599px) { 
}

@media (min-width: 900px) and (min-width: 1199px) {
}

@media (max-width: 899px) {
 
}

@media (max-width: 599px) and (min-width: 898px) {
    
}
*/